name: Portfolio CI

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 'latest'

      - name: Install Dependencies
        run: npm install

      - name: Build and Deploy
        run: npm run deploy
