name: Portfolio CI

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
         repository: jdhrnndz/sort-algo-visualization
         token: ${{ secrets.GH_PAT }}

      # - name: Setup git
      #   run: |
      #     git config user.name "jdhrnndz"
      #     git config user.email "johndeniellehernandez@gmail.com"
      #     git remote set-url origin https://${{ secrets.GH_PAT }}@github.com/jdhrnndz/sort-algo-visualization.git

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 'latest'

      - name: Install Dependencies
        run: npm install

      - name: Build and Deploy
        run: npm run deploy
